html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.labels {
    color: black;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 16px;
    text-align: center;
    width: 36px;
    white-space: nowrap;
    font-weight: bold;
}

#legend {
    font-family: Arial, sans-serif;
    background: #e8e8e8;
    padding: 4px;
    margin: 4px;
    border: 1px solid #404040;
}